<!DOCTYPE html>
<html>
    <head>
    <title>TheBest</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="keywords" content="thebest">
	<link rel="shortcut icon" href="/icon.png">
	<!--FONTAWSOME-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<!--JQUERY-->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!--LOADER-->
		<script src='/js/loader.js'> </script>
	<!--BOOTSTRAP-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!--NICE ALERT BOX-->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
  <!--HASZOS FUNCTIONOK-->
		<link rel='stylesheet' type="text/javascript" href='../js/hasznos.js'>
	<!--CSS-->
		<link rel='stylesheet' type='text/css' href='../css/header.css'>
		<link rel='stylesheet' type='text/css' href='../css/hasznos.css'>
	<!--COOKIE-->
	  <script src='../js/cookie.js'> </script>
	  
    </head>
    <body>
        
<!--NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">TheBest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>        
    
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/utmutato">Útmutató</a>
              </li>
             </ul>
             
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/login">Belépés     </a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Regisztráció</a></li>
          </ul>
        </div>                
      </div>
    </nav>
    
    
    
<script>
	loaderShow()
	$('document').ready(function(){
		loaderStop()
	});	
	


</script>
    
  
    
    
    
    
    



