<% if(!user){ %>
    <% include partials/header %>
<% }else if(!teacher){ %>
    <% include partials/headerStudent %>
<% }else{ %>
    <% include partials/headerTeacher %>
<% } %>

<link rel='stylesheet' type='text/css' href='css/login.css'>

<div class="container">
    <!--CÍM-->
        <h1 class='alignCenter white margin2 fontFamilyCourier fontSize4remMobile9vw'>Új jelszó</h1>
    
    <center>
            <div class="input-group mb-3 width30pcmobile90pc marginTop3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></i></span>
              </div>
              <input id="oldpasswordInput" name="oldpassword" type="password" class="form-control" placeholder="Régi jelszó" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            
            <div class="input-group mb-3 width30pcmobile90pc marginTop2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
              </div>
              <input id="newpasswordInput" name="password" type="password" class="form-control" placeholder="Új jelszó" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            
            <div class="input-group mb-3 width30pcmobile90pc marginTop2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
              </div>
              <input id="newpasswordInput2" name="password" type="password" class="form-control" placeholder="Új jelszó" aria-label="Username" aria-describedby="basic-addon1">
            </div>
  
            <button id="button" class='btn white borderA bgColorBlack margin2 fontSize1p2 width10 bgColorWhiteHover colorBlackHover'>Mentés</button>
    </center>
    
</div>

<script>
    
    $('#button').on('click',function(){
        
        var oldpassword = $('#oldpasswordInput').val();
        var newpassword = $('#newpasswordInput').val();
        var newpassword2 = $('#newpasswordInput2').val();
        
        var success = true;
        if(newpassword != newpassword2){
            success = false;
            Swal.fire({
              type: 'error',
              title: 'Oops...',
              text: 'A jelszavak nem egyeznek!'
            });
        }
        
        if(success){
            
            $.ajax({
                type:'POST',
                url:'/changepassword',
                data:{
                    
                },
                success:function(vissza){
                    
                },
                error:function(){
                  Swal.fire({
                      type: 'error',
                      title: 'Oops...',
                      text: 'Hiba történt!'
                    });  
                }
                
            })
            
        }
        
    });
    
</script>


<% include partials/footer %>