<% if(!user){ %>
    <% include ../partials/header %>
<% }else if(!teacher){ %>
    <% include ../partials/headerStudent %>
<% }else{ %>
    <% include ../partials/headerTeacher %>
<% } %>

<link rel='stylesheet' type='text/css' href='css/login.css'>

<div class="container">
    <!--CÍM-->
        <h1 class='alignCenter white margin2 fontFamilyCourier fontSize4remMobile9vw'>Új osztály</h1>
        
        <h4 class='alignCenter white margin2 fontFamilyCourier fontSize1p5remMobile4vw'>Már méglévő osztályt ne hozz létre. </br> Osztályok listáját <a href='/classList' class='underline white'>itt találod!</a> </h4>

    <!--ÚJ OSZTÁLY ADATAI INPUT-->
    <center>
        
        <div class="input-group mb-3 width30pcmobile90pc marginTop1p5">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></i></span>
          </div>
          <input id='nevInput' type="text" class="form-control" placeholder="Név* (formátum:10/A)" aria-label="Username" aria-describedby="basic-addon1" autofocus>
        </div>
        
        <div class="input-group mb-3 width30pcmobile90pc marginTop1p5">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
          </div>
          <input id='codeInput' type="number" class="form-control" placeholder="Belépési kód*" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        
        <div class="input-group mb-3 width30pcmobile90pc marginTop1p5">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-book"></i></span>
          </div>
          <select class="custom-select" id="tantargyInput">
            <option selected disabled >Tantárgy</option>
            <% tantargyak.forEach(function(tantargy){ %>
                <option value="<%= tantargy.nev %>"><%= tantargy.nev %></option>
            <% }) %>
          </select>
        </div>
        

    </center>
    
    <!--ÚJ OSZTÁLY LÉTREHOZÁSA GOMB-->
        <center>
            <button id="osztalyLetrehozasGomb" class="btn white bgColorBlack borderA bgColorWhiteHover colorBlackHover alignCenter marginTop2"> Létrehozása </button>
        </center>
    
</div>


<script>
  
    var meglevoKodok = <%- JSON.stringify(meglevoKodok) %>;
    var meglevoKodokArray = [];
    meglevoKodok.forEach(function(kod){
        meglevoKodokArray.push(kod.kod)
    })
    
    var tantargyak = <%- JSON.stringify(tantargyak) %>

    $('#osztalyLetrehozasGomb').on('click',function(){
       
        var osztalyNev = $('#nevInput').val();
        var kod = $('#codeInput').val();
        var tantargy = $( "#tantargyInput option:selected" ).text();
        var hiba = false;
        
        // VAN E ÜRES
            if((osztalyNev=='' || kod=='' || tantargy=='Tantárgy') && !hiba ){
                hiba = true;
                Swal.fire({
                  type: 'error',
                  title: 'Oops...',
                  text: 'Nem lehet üres egyik mező sem!'
                });
            }
        // JÓ NÉV FORMÁTUM?
            var holTartalmaz = Number(osztalyNev.indexOf("/"));
            var perElott = osztalyNev.slice(0, holTartalmaz);
            var szamE    = perElott.match(/^[0-9]+$/) != null;
            if(!szamE){
                hiba = true;
                Swal.fire({
                  type: 'error',
                  title: 'Oops...',
                  text: 'A név rossz formátumban van! ("/" előtt csak szám lehet) '
                });
            }
            
        // KÓD MEGVAN 4 KARAKTER ?
            if(kod.length < 4 && !hiba){
                hiba=true;
                Swal.fire({
                  type: 'error',
                  title: 'Oops...',
                  text: 'Kódnak legalább 4 karakternek kell lennie!'
                });
            }
            
        //VAN E MÁR ILYEN KÓD ?
            if((meglevoKodokArray.includes(Number(kod))) && !hiba ){
                hiba = true;
                Swal.fire({
                  type: 'error',
                  title: 'Oops...',
                  text: 'Válassz másik kódot!'
                });
            }
            
        // OSZTÁLY LÉTREHOZÁS (AJAX KÜLDÉS)
            if(!hiba){
                $.ajax({
                    type:'POST',
                    url:'/newClassTe',
                    dataType:'json',
                    data:{
                        nev:osztalyNev,
                        kod:kod,
                        tantargy:tantargy
                    },
                    success:function(back){
                        if(back.success){
                            Swal.fire({
                              type: 'success',
                              title: 'Létrehozva',
                              showConfirmButton: false,
                              timer: 1500
                            }); 
                            setTimeout(function(){ window.location.href = '/classesTe' }, 1600);
                        } else {
                           Swal.fire({
                              type: 'error',
                              title: 'Oops...',
                              text: 'Valami hiba történt, próbáld meg később!'
                            }); 
                        }
                    },
                    error:function(){
                        Swal.fire({
                          type: 'error',
                          title: 'Oops...',
                          text: 'Valami hiba történt, próbáld meg később!'
                        });
                    }
                })       
            }
        
    });
    
</script>













<% include ../partials/footer %>