<% if(!user){ %>
    <% include ../partials/header %>
<% }else if(!teacher){ %>
    <% include ../partials/headerStudent %>
<% }else{ %>
    <% include ../partials/headerTeacher %>
<% } %>


<div class="container">
    <!--CÍM-->
        <h1 class='alignCenter white margin2 fontFamilyCourier fontSize4remMobile9vw'>Tanár</h1>

    
</div>
















<% include ../partials/footer %>